/*Header início*/
.header {
  background-color: white;
}
/*Header Fim*/

/*Main Início*/
.main {
  background-color: blue;
}
.main .redes img {
  width: 250px;
  padding: 20px;
}

.main .redes {
  margin: 100px;
}
.main .redes .card {
  border-radius: 15px;
}
.main .redes .card .card-body {
  text-align: center;
}

/*Main Fim*/

/*Footer Início*/
.footer {
  background-color: green;
}
/*Footer Fim*/
